@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.logo {
    margin: 15px 0 15px 0;
    width: 250px;
}

.bg {
    background-image: url(images/bg.jpg);
    background-position-y: 200px;
    height: 100px;
}
