.primary-color {
    color: #006E9A;
}

.secondary-color {
    color: #00AEEF;
}

.search-field-container {
    margin: 30px 0;
}

.search-results-message {
    margin: 30px 0;
}

.search-results {
    margin: 10px 0;
}

.photo {
    max-width: 100px;
    max-height: 100px;
}

.person-name {
    font-weight: bold;
}
