<h1><span class="primary-color">People</span> <span class="secondary-color">Search</span></h1>

<div class="search-field-container">
    <span>First or Last Name:</span>
    <input type="text" (keyup)="onSearchTextKeyUp($event)" />
    <button (click)="onSearchClicked()">Search</button>
</div>

<div class="container search-results">
    <div class="row" *ngFor='let person of people; let i = index;'>
        <div *ngIf='i > 0'><hr /></div>
        <div class="col-md-2">
            <img [src]='person.pictureUrl ? person.pictureUrl : "person_pictures/no_photo.jpg"'
                 [title]='person.firstName + person.lastName'
                 class="photo" />
        </div>
        <div class="col-md-6">
            <div class="person-name">{{ person.firstName }} {{ person.lastName}}</div>
            <div *ngIf='person.birthDate'>Birthdate: {{ person.birthDate | date:'shortDate' }}</div>
            <div *ngIf='person.interests'>Interests: {{ person.interests }}</div>
        </div>
        <div class="col-md-4">
            <div>{{ person.addressLine1 }}</div>
            <div>{{ person.addressLine2 }}</div>
            <div>{{ person.city }}, {{ person.state }} {{ person.zip }}</div>
            <div>{{ person.country }}</div>
        </div>
    </div>
</div>
